<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.CallbackRecordDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.CallbackRecord" id="callbackRecordResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="httpUrl" column="http_url"/>
        <result property="requestBody" column="request_body"/>
        <result property="httpStatus" column="http_status"/>
        <result property="responseBody" column="response_body"/>
        <result property="costTime" column="cost_time"/>
        <result property="retry" column="retry"/>
        <result property="sendTime" column="send_time"/>
        <result property="sendStatus" column="send_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- sql字段信息 -->
    <sql id="callbackRecord">
        `auto_id`, `business_id`, `http_url`, `request_body`, `http_status`, `response_body`, `cost_time`, `retry`,
        `send_time`, `send_status`, `create_time`, `update_time`
    </sql>

    <!-- 新增外部系统回调记录 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.CallbackRecord" flushCache="true"
            useGeneratedKeys="true" keyProperty="callbackRecord.autoId">
        INSERT INTO
        `callback_record_${tableSuffix}` (
        <trim suffixOverrides=",">
            <if test="null != callbackRecord.businessId and '' != callbackRecord.businessId">`business_id`,</if>
            <if test="null != callbackRecord.httpUrl and '' != callbackRecord.httpUrl">`http_url`,</if>
            <if test="null != callbackRecord.requestBody and '' != callbackRecord.requestBody">`request_body`,</if>
            <if test="null != callbackRecord.httpStatus and '' != callbackRecord.httpStatus">`http_status`,</if>
            <if test="null != callbackRecord.responseBody and '' != callbackRecord.responseBody">`response_body`,</if>
            <if test="null != callbackRecord.costTime and 0 != callbackRecord.costTime">`cost_time`,</if>
            <if test="null != callbackRecord.retry and 0 != callbackRecord.retry">`retry`,</if>
            <if test="null != callbackRecord.sendTime">`send_time`,</if>
            <if test="null != callbackRecord.sendStatus and '' != callbackRecord.sendStatus">`send_status`,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != callbackRecord.businessId and '' != callbackRecord.businessId">
                #{callbackRecord.businessId},
            </if>
            <if test="null != callbackRecord.httpUrl and '' != callbackRecord.httpUrl">
                #{callbackRecord.httpUrl},
            </if>
            <if test="null != callbackRecord.requestBody and '' != callbackRecord.requestBody">
                #{callbackRecord.requestBody},
            </if>
            <if test="null != callbackRecord.httpStatus and '' != callbackRecord.httpStatus">
                #{callbackRecord.httpStatus},
            </if>
            <if test="null != callbackRecord.responseBody and '' != callbackRecord.responseBody">
                #{callbackRecord.responseBody},
            </if>
            <if test="null != callbackRecord.costTime and 0 != callbackRecord.costTime">
                #{callbackRecord.costTime},
            </if>
            <if test="null != callbackRecord.retry and 0 != callbackRecord.retry">
                #{callbackRecord.retry},
            </if>
            <if test="null != callbackRecord.sendTime">
                #{callbackRecord.sendTime},
            </if>
            <if test="null != callbackRecord.sendStatus and '' != callbackRecord.sendStatus">
                #{callbackRecord.sendStatus},
            </if>
        </trim>
        )
    </insert>

    <!-- 根据业务id(businessId)修改外部系统回调记录 -->
    <update id="update" parameterType="com.doudoudrive.common.model.pojo.CallbackRecord" flushCache="true">
        UPDATE `callback_record_${tableSuffix}`
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != callbackRecord.httpUrl and '' != callbackRecord.httpUrl">
                `http_url` = #{callbackRecord.httpUrl},
            </if>
            <if test="null != callbackRecord.requestBody and '' != callbackRecord.requestBody">
                `request_body` = #{callbackRecord.requestBody},
            </if>
            <if test="null != callbackRecord.httpStatus and '' != callbackRecord.httpStatus">
                `http_status` = #{callbackRecord.httpStatus},
            </if>
            <if test="null != callbackRecord.responseBody and '' != callbackRecord.responseBody">
                `response_body` = #{callbackRecord.responseBody},
            </if>
            <if test="null != callbackRecord.costTime and 0 != callbackRecord.costTime">
                `cost_time` = #{callbackRecord.costTime},
            </if>
            <if test="null != callbackRecord.retry and 0 != callbackRecord.retry">
                `retry` = #{callbackRecord.retry},
            </if>
            <if test="null != callbackRecord.sendTime">
                `send_time` = #{callbackRecord.sendTime},
            </if>
            <if test="null != callbackRecord.sendStatus and '' != callbackRecord.sendStatus">
                `send_status` = #{callbackRecord.sendStatus},
            </if>
        </trim>
        <where>
            `business_id` = #{callbackRecord.businessId}
        </where>
    </update>

    <update id="updateStatusToExecute" parameterType="com.doudoudrive.common.model.pojo.CallbackRecord"
            flushCache="true">
        UPDATE `callback_record_${tableSuffix}`
        SET `send_status` = '2'
        WHERE `business_id` = #{businessId}
          AND `send_status` = '1'
    </update>

    <!-- 根据业务id(businessId)查找外部系统回调记录 -->
    <select id="getCallbackRecord" resultType="com.doudoudrive.common.model.pojo.CallbackRecord"
            resultMap="callbackRecordResultMap">
        SELECT
        <include refid="callbackRecord"/>
        FROM `callback_record_${tableSuffix}`
        <where>
            `business_id` = #{businessId};
        </where>
    </select>

</mapper>