<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.DiskUserAttrDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.DiskUserAttr" id="diskUserAttrResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="userId" column="user_id"/>
        <result property="attributeName" column="attribute_name"/>
        <result property="attributeValue" column="attribute_value"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- sql字段信息 -->
    <sql id="diskUserAttr">
        `auto_id`, `business_id`, `user_id`, `attribute_name`, `attribute_value`, `create_time`, `update_time`
    </sql>

    <!-- 新增用户属性模块 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.DiskUserAttr" flushCache="true"
            useGeneratedKeys="true" keyProperty="diskUserAttr.autoId">
        INSERT INTO
        `disk_user_attr_${tableSuffix}` (
        <trim suffixOverrides=",">
            <if test="null != diskUserAttr.businessId and '' != diskUserAttr.businessId">`business_id`,</if>
            <if test="null != diskUserAttr.userId and '' != diskUserAttr.userId">`user_id`,</if>
            <if test="null != diskUserAttr.attributeName and '' != diskUserAttr.attributeName">`attribute_name`,</if>
            <if test="null != diskUserAttr.attributeValue and '' != diskUserAttr.attributeValue">`attribute_value`,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != diskUserAttr.businessId and '' != diskUserAttr.businessId">
                #{diskUserAttr.businessId},
            </if>
            <if test="null != diskUserAttr.userId and '' != diskUserAttr.userId">
                #{diskUserAttr.userId},
            </if>
            <if test="null != diskUserAttr.attributeName and '' != diskUserAttr.attributeName">
                #{diskUserAttr.attributeName},
            </if>
            <if test="null != diskUserAttr.attributeValue and '' != diskUserAttr.attributeValue">
                #{diskUserAttr.attributeValue},
            </if>
        </trim>
        )
    </insert>

    <!-- 批量新增用户属性模块 -->
    <insert id="insertBatch" parameterType="java.util.List" flushCache="true">
        INSERT INTO
        `disk_user_attr_${tableSuffix}` (
        `business_id`,
        `user_id`,
        `attribute_name`,
        `attribute_value`
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.businessId},
            #{item.userId},
            #{item.attributeName},
            #{item.attributeValue}
            )
        </foreach>
    </insert>

    <!-- 删除指定用户所有属性数据 -->
    <delete id="deleteUserAttr" parameterType="java.lang.String" flushCache="true">
        DELETE FROM `disk_user_attr_${tableSuffix}`
        <where>
            `user_id` = #{userId}
        </where>
    </delete>

    <!-- 根据业务id(businessId)修改用户属性模块 -->
    <update id="update" parameterType="com.doudoudrive.common.model.pojo.DiskUserAttr" flushCache="true">
        UPDATE `disk_user_attr_${tableSuffix}`
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != diskUserAttr.userId and '' != diskUserAttr.userId">
                `user_id` = #{diskUserAttr.userId},
            </if>
            <if test="null != diskUserAttr.attributeName and '' != diskUserAttr.attributeName">
                `attribute_name` = #{diskUserAttr.attributeName},
            </if>
            <if test="null != diskUserAttr.attributeValue and '' != diskUserAttr.attributeValue">
                `attribute_value` = #{diskUserAttr.attributeValue},
            </if>
        </trim>
        <where>
            `business_id` = #{diskUserAttr.businessId}
        </where>
    </update>

    <!-- 根据用户标识查询指定用户下所有属性信息 -->
    <select id="listDiskUserAttr" resultType="com.doudoudrive.common.model.pojo.DiskUserAttr"
            resultMap="diskUserAttrResultMap">
        SELECT
        <include refid="diskUserAttr"/>
        FROM `disk_user_attr_${tableSuffix}`
        <where>
            `user_id` = #{userId};
        </where>
    </select>

</mapper>
