<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.LogLoginDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.LogLogin" id="logLoginResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="ip" column="ip"/>
        <result property="location" column="location"/>
        <result property="browser" column="browser"/>
        <result property="browserVersion" column="browser_version"/>
        <result property="browserEngine" column="browser_engine"/>
        <result property="browserEngineVersion" column="browser_engine_version"/>
        <result property="userAgent" column="user_agent"/>
        <result property="mobile" column="is_mobile"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
        <result property="username" column="username"/>
        <result property="success" column="is_success"/>
        <result property="msg" column="msg"/>
        <result property="sessionId" column="session_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 新增登录日志 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.LogLogin" flushCache="true"
            useGeneratedKeys="true" keyProperty="autoId">
        INSERT INTO
        `log_login_${@com.doudoudrive.common.util.date.DateUtils@toMonth()}` (
        <trim suffixOverrides=",">
            <if test="null != businessId and '' != businessId">`business_id`,</if>
            <if test="null != ip and '' != ip">`ip`,</if>
            <if test="null != location and '' != location">`location`,</if>
            <if test="null != browser and '' != browser">`browser`,</if>
            <if test="null != browserVersion and '' != browserVersion">`browser_version`,</if>
            <if test="null != browserEngine and '' != browserEngine">`browser_engine`,</if>
            <if test="null != browserEngineVersion and '' != browserEngineVersion">`browser_engine_version`,</if>
            <if test="null != userAgent and '' != userAgent">`user_agent`,</if>
            <if test="null != mobile">`is_mobile`,</if>
            <if test="null != os and '' != os">`os`,</if>
            <if test="null != platform and '' != platform">`platform`,</if>
            <if test="null != username and '' != username">`username`,</if>
            <if test="null != success">`is_success`,</if>
            <if test="null != msg and '' != msg">`msg`,</if>
            <if test="null != sessionId and '' != sessionId">`session_id`,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != businessId and '' != businessId">#{businessId},</if>
            <if test="null != ip and '' != ip">INET_ATON(#{ip}),</if>
            <if test="null != location and '' != location">#{location},</if>
            <if test="null != browser and '' != browser">#{browser},</if>
            <if test="null != browserVersion and '' != browserVersion">#{browserVersion},</if>
            <if test="null != browserEngine and '' != browserEngine">#{browserEngine},</if>
            <if test="null != browserEngineVersion and '' != browserEngineVersion">#{browserEngineVersion},</if>
            <if test="null != userAgent and '' != userAgent">#{userAgent},</if>
            <if test="null != mobile">#{mobile},</if>
            <if test="null != os and '' != os">#{os},</if>
            <if test="null != platform and '' != platform">#{platform},</if>
            <if test="null != username and '' != username">#{username},</if>
            <if test="null != success">#{success},</if>
            <if test="null != msg and '' != msg">#{msg},</if>
            <if test="null != sessionId and '' != sessionId">#{sessionId},</if>
        </trim>
        )
    </insert>

</mapper>
