<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.LogOpDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.LogOp" id="logOpResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="ip" column="ip"/>
        <result property="location" column="location"/>
        <result property="businessType" column="business_type"/>
        <result property="className" column="class_name"/>
        <result property="methodName" column="method_name"/>
        <result property="parameter" column="parameter"/>
        <result property="spider" column="spider"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
        <result property="browser" column="browser"/>
        <result property="browserVersion" column="browser_version"/>
        <result property="browserEngine" column="browser_engine"/>
        <result property="browserEngineVersion" column="browser_engine_version"/>
        <result property="method" column="method"/>
        <result property="userAgent" column="user_agent"/>
        <result property="mobile" column="is_mobile"/>
        <result property="requestUri" column="request_uri"/>
        <result property="referer" column="referer"/>
        <result property="title" column="title"/>
        <result property="errorMsg" column="error_msg"/>
        <result property="errorCause" column="error_cause"/>
        <result property="success" column="is_success"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="username" column="username"/>
    </resultMap>

    <!-- 新增API操作日志 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.LogOp" flushCache="true"
            useGeneratedKeys="true" keyProperty="autoId">
        INSERT INTO
        `log_op_${@cn.hutool.core.date.DateUtil@format(new java.util.Date(),"yyyyMM")}` (
        <trim suffixOverrides=",">
            <if test="null != businessId and '' != businessId">`business_id`,</if>
            <if test="null != ip and '' != ip">`ip`,</if>
            <if test="null != location and '' != location">`location`,</if>
            <if test="null != businessType and '' != businessType">`business_type`,</if>
            <if test="null != className and '' != className">`class_name`,</if>
            <if test="null != methodName and '' != methodName">`method_name`,</if>
            <if test="null != parameter and '' != parameter">`parameter`,</if>
            <if test="null != spider and '' != spider">`spider`,</if>
            <if test="null != os and '' != os">`os`,</if>
            <if test="null != platform and '' != platform">`platform`,</if>
            <if test="null != browser and '' != browser">`browser`,</if>
            <if test="null != browserVersion and '' != browserVersion">`browser_version`,</if>
            <if test="null != browserEngine and '' != browserEngine">`browser_engine`,</if>
            <if test="null != browserEngineVersion and '' != browserEngineVersion">`browser_engine_version`,</if>
            <if test="null != method and '' != method">`method`,</if>
            <if test="null != userAgent and '' != userAgent">`user_agent`,</if>
            <if test="null != mobile">`is_mobile`,</if>
            <if test="null != requestUri and '' != requestUri">`request_uri`,</if>
            <if test="null != referer and '' != referer">`referer`,</if>
            <if test="null != title and '' != title">`title`,</if>
            <if test="null != errorMsg and '' != errorMsg">`error_msg`,</if>
            <if test="null != errorCause and '' != errorCause">`error_cause`,</if>
            <if test="null != success">`is_success`,</if>
            <if test="null != username and '' != username">`username`</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != businessId and '' != businessId">#{businessId},</if>
            <if test="null != ip and '' != ip">INET_ATON(#{ip}),</if>
            <if test="null != location and '' != location">#{location},</if>
            <if test="null != businessType and '' != businessType">#{businessType},</if>
            <if test="null != className and '' != className">#{className},</if>
            <if test="null != methodName and '' != methodName">#{methodName},</if>
            <if test="null != parameter and '' != parameter">#{parameter},</if>
            <if test="null != spider and '' != spider">#{spider},</if>
            <if test="null != os and '' != os">#{os},</if>
            <if test="null != platform and '' != platform">#{platform},</if>
            <if test="null != browser and '' != browser">#{browser},</if>
            <if test="null != browserVersion and '' != browserVersion">#{browserVersion},</if>
            <if test="null != browserEngine and '' != browserEngine">#{browserEngine},</if>
            <if test="null != browserEngineVersion and '' != browserEngineVersion">#{browserEngineVersion},</if>
            <if test="null != method and '' != method">#{method},</if>
            <if test="null != userAgent and '' != userAgent">#{userAgent},</if>
            <if test="null != mobile">#{mobile},</if>
            <if test="null != requestUri and '' != requestUri">#{requestUri},</if>
            <if test="null != referer and '' != referer">#{referer},</if>
            <if test="null != title and '' != title">#{title},</if>
            <if test="null != errorMsg and '' != errorMsg">#{errorMsg},</if>
            <if test="null != errorCause and '' != errorCause">#{errorCause},</if>
            <if test="null != success">#{success},</if>
            <if test="null != username and '' != username">#{username}</if>
        </trim>
        )
    </insert>

</mapper>
