<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.LogOpDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.LogOp" id="logOpResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="ip" column="ip"/>
        <result property="location" column="location"/>
        <result property="businessType" column="business_type"/>
        <result property="title" column="title"/>
        <result property="className" column="class_name"/>
        <result property="methodName" column="method_name"/>
        <result property="requestUri" column="request_uri"/>
        <result property="parameter" column="parameter"/>
        <result property="method" column="method"/>
        <result property="requestSize" column="request_size"/>
        <result property="requestTime" column="request_time"/>
        <result property="contentType" column="content_type"/>
        <result property="referer" column="referer"/>
        <result property="browser" column="browser"/>
        <result property="browserVersion" column="browser_version"/>
        <result property="browserEngine" column="browser_engine"/>
        <result property="browserEngineVersion" column="browser_engine_version"/>
        <result property="userAgent" column="user_agent"/>
        <result property="mobile" column="is_mobile"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
        <result property="spider" column="spider"/>
        <result property="errorMsg" column="error_msg"/>
        <result property="errorCause" column="error_cause"/>
        <result property="success" column="is_success"/>
        <result property="responseTime" column="response_time"/>
        <result property="responseSize" column="response_size"/>
        <result property="responseCode" column="response_code"/>
        <result property="costTime" column="cost_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="username" column="username"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <!-- sql字段信息 -->
    <sql id="logOp">
        `auto_id`
        ,`business_id`, INET_NTOA(`ip`) AS `ip`, `location`, `business_type`, `title`, `class_name`, `method_name`,
        `request_uri`, `parameter`, `method`, `request_size`, `request_time`, `content_type`,
        `referer`, `browser`, `browser_version`,`browser_engine`, `browser_engine_version`, `user_agent`, `is_mobile`, `os`, `platform`, `spider`,
        `error_msg`, `error_cause`, `is_success`, `response_time`, `response_size`, `response_code`, `cost_time`,
        `create_time`, `update_time`, `username`, `user_id`
    </sql>

    <!-- 搜索的参数块 -->
    <sql id="searchCondition">
        <if test="null != logOp">
            <if test="null != logOp.autoId and 0 != logOp.autoId">
                `auto_id` = #{logOp.autoId} AND
            </if>
            <if test="null != logOp.businessId and '' != logOp.businessId">
                `business_id` = #{logOp.businessId} AND
            </if>
            <if test="null != logOp.ip and '' != logOp.ip">
                `ip` = INET_ATON(#{logOp.ip}) AND
            </if>
            <if test="null != logOp.location and '' != logOp.location">
                `location` LIKE CONCAT('%', #{logOp.location}, '%') AND
            </if>
            <if test="null != logOp.businessType and '' != logOp.businessType">
                `business_type` LIKE CONCAT('%', #{logOp.businessType}, '%') AND
            </if>
            <if test="null != logOp.title and '' != logOp.title">
                `title` LIKE CONCAT('%', #{logOp.title}, '%') AND
            </if>
            <if test="null != logOp.className and '' != logOp.className">
                `class_name` LIKE CONCAT('%', #{logOp.className}, '%') AND
            </if>
            <if test="null != logOp.methodName and '' != logOp.methodName">
                `method_name` LIKE CONCAT('%', #{logOp.methodName}, '%') AND
            </if>
            <if test="null != logOp.requestUri and '' != logOp.requestUri">
                `request_uri` LIKE CONCAT('%', #{logOp.requestUri}, '%') AND
            </if>
            <if test="null != logOp.parameter and '' != logOp.parameter">
                `parameter` LIKE CONCAT('%', #{logOp.parameter}, '%') AND
            </if>
            <if test="null != logOp.method and '' != logOp.method">
                `method` = #{logOp.method} AND
            </if>
            <if test="null != logOp.requestSize and 0 != logOp.requestSize">
                `request_size` = #{logOp.requestSize} AND
            </if>
            <if test="null != logOp.requestTime">
                `request_time` = #{logOp.requestTime} AND
            </if>
            <if test="null != logOp.contentType and '' != logOp.contentType">
                `content_type` LIKE CONCAT('%', #{logOp.contentType}, '%') AND
            </if>
            <if test="null != logOp.referer and '' != logOp.referer">
                `referer` LIKE CONCAT('%', #{logOp.referer}, '%') AND
            </if>
            <if test="null != logOp.browser and '' != logOp.browser">
                `browser` LIKE CONCAT('%', #{logOp.browser}, '%') AND
            </if>
            <if test="null != logOp.browserVersion and '' != logOp.browserVersion">
                `browser_version` LIKE CONCAT('%', #{logOp.browserVersion}, '%') AND
            </if>
            <if test="null != logOp.browserEngine and '' != logOp.browserEngine">
                `browser_engine` LIKE CONCAT('%', #{logOp.browserEngine}, '%') AND
            </if>
            <if test="null != logOp.browserEngineVersion and '' != logOp.browserEngineVersion">
                `browser_engine_version` LIKE CONCAT('%', #{logOp.browserEngineVersion}, '%') AND
            </if>
            <if test="null != logOp.userAgent and '' != logOp.userAgent">
                `user_agent` LIKE CONCAT('%', #{logOp.userAgent}, '%') AND
            </if>
            <if test="null != logOp.mobile">
                `is_mobile` = #{logOp.mobile} AND
            </if>
            <if test="null != logOp.os and '' != logOp.os">
                `os` LIKE CONCAT('%', #{logOp.os}, '%') AND
            </if>
            <if test="null != logOp.platform and '' != logOp.platform">
                `platform` = #{logOp.platform} AND
            </if>
            <if test="null != logOp.spider and '' != logOp.spider">
                `spider` LIKE CONCAT('%', #{logOp.spider}, '%') AND
            </if>
            <if test="null != logOp.success">
                `is_success` = #{logOp.success} AND
            </if>
            <if test="null != logOp.responseTime">
                `response_time` = #{logOp.responseTime} AND
            </if>
            <if test="null != logOp.responseSize and 0 != logOp.responseSize">
                `response_size` = #{logOp.responseSize} AND
            </if>
            <if test="null != logOp.responseCode and 0 != logOp.responseCode">
                `response_code` = #{logOp.responseCode} AND
            </if>
            <if test="null != logOp.username and '' != logOp.username">
                `username` = #{logOp.username} AND
            </if>
            <if test="null != logOp.userId and '' != logOp.userId">
                `user_id` = #{logOp.userId} AND
            </if>
        </if>
        <if test="null != startTime and null != endTime">
            `create_time` BETWEEN #{startTime} AND #{endTime} AND
        </if>
    </sql>

    <!-- 新增API操作日志 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.LogOp" flushCache="true"
            useGeneratedKeys="true" keyProperty="autoId">
        INSERT INTO
        `log_op_${@com.doudoudrive.common.util.date.DateUtils@toMonth()}` (
        <trim suffixOverrides=",">
            <if test="null != logOp.businessId and '' != logOp.businessId">`business_id`,</if>
            <if test="null != logOp.ip and '' != logOp.ip">`ip`,</if>
            <if test="null != logOp.location and '' != logOp.location">`location`,</if>
            <if test="null != logOp.businessType and '' != logOp.businessType">`business_type`,</if>
            <if test="null != logOp.title and '' != logOp.title">`title`,</if>
            <if test="null != logOp.className and '' != logOp.className">`class_name`,</if>
            <if test="null != logOp.methodName and '' != logOp.methodName">`method_name`,</if>
            <if test="null != logOp.requestUri and '' != logOp.requestUri">`request_uri`,</if>
            <if test="null != logOp.parameter and '' != logOp.parameter">`parameter`,</if>
            <if test="null != logOp.method and '' != logOp.method">`method`,</if>
            <if test="null != logOp.requestSize">`request_size`,</if>
            <if test="null != logOp.requestTime">`request_time`,</if>
            <if test="null != logOp.contentType and '' != logOp.contentType">`content_type`,</if>
            <if test="null != logOp.referer and '' != logOp.referer">`referer`,</if>
            <if test="null != logOp.browser and '' != logOp.browser">`browser`,</if>
            <if test="null != logOp.browserVersion and '' != logOp.browserVersion">`browser_version`,</if>
            <if test="null != logOp.browserEngine and '' != logOp.browserEngine">`browser_engine`,</if>
            <if test="null != logOp.browserEngineVersion and '' != logOp.browserEngineVersion">
                `browser_engine_version`,
            </if>
            <if test="null != logOp.userAgent and '' != logOp.userAgent">`user_agent`,</if>
            <if test="null != logOp.mobile">`is_mobile`,</if>
            <if test="null != logOp.os and '' != logOp.os">`os`,</if>
            <if test="null != logOp.platform and '' != logOp.platform">`platform`,</if>
            <if test="null != logOp.spider and '' != logOp.spider">`spider`,</if>
            <if test="null != logOp.errorMsg and '' != logOp.errorMsg">`error_msg`,</if>
            <if test="null != logOp.errorCause and '' != logOp.errorCause">`error_cause`,</if>
            <if test="null != logOp.success">`is_success`,</if>
            <if test="null != logOp.responseTime">`response_time`,</if>
            <if test="null != logOp.responseSize">`response_size`,</if>
            <if test="null != logOp.responseCode">`response_code`,</if>
            <if test="null != logOp.costTime">`cost_time`,</if>
            <if test="null != logOp.username and '' != logOp.username">`username`,</if>
            <if test="null != logOp.userId and '' != logOp.userId">`user_id`,</if>
            <if test="null != logOp.createTime">`create_time`,</if>
            <if test="null != logOp.updateTime">`update_time`</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != logOp.businessId and '' != logOp.businessId">#{logOp.businessId},</if>
            <if test="null != logOp.ip and '' != logOp.ip">INET_ATON(#{logOp.ip}),</if>
            <if test="null != logOp.location and '' != logOp.location">#{logOp.location},</if>
            <if test="null != logOp.businessType and '' != logOp.businessType">#{logOp.businessType},</if>
            <if test="null != logOp.title and '' != logOp.title">#{logOp.title},</if>
            <if test="null != logOp.className and '' != logOp.className">#{logOp.className},</if>
            <if test="null != logOp.methodName and '' != logOp.methodName">#{logOp.methodName},</if>
            <if test="null != logOp.requestUri and '' != logOp.requestUri">#{logOp.requestUri},</if>
            <if test="null != logOp.parameter and '' != logOp.parameter">#{logOp.parameter},</if>
            <if test="null != logOp.method and '' != logOp.method">#{logOp.method},</if>
            <if test="null != logOp.requestSize">#{logOp.requestSize},</if>
            <if test="null != logOp.requestTime">#{logOp.requestTime},</if>
            <if test="null != logOp.contentType and '' != logOp.contentType">#{logOp.contentType},</if>
            <if test="null != logOp.referer and '' != logOp.referer">#{logOp.referer},</if>
            <if test="null != logOp.browser and '' != logOp.browser">#{logOp.browser},</if>
            <if test="null != logOp.browserVersion and '' != logOp.browserVersion">#{logOp.browserVersion},</if>
            <if test="null != logOp.browserEngine and '' != logOp.browserEngine">#{logOp.browserEngine},</if>
            <if test="null != logOp.browserEngineVersion and '' != logOp.browserEngineVersion">
                #{logOp.browserEngineVersion},
            </if>
            <if test="null != logOp.userAgent and '' != logOp.userAgent">#{logOp.userAgent},</if>
            <if test="null != logOp.mobile">#{logOp.mobile},</if>
            <if test="null != logOp.os and '' != logOp.os">#{logOp.os},</if>
            <if test="null != logOp.platform and '' != logOp.platform">#{logOp.platform},</if>
            <if test="null != logOp.spider and '' != logOp.spider">#{logOp.spider},</if>
            <if test="null != logOp.errorMsg and '' != logOp.errorMsg">#{logOp.errorMsg},</if>
            <if test="null != logOp.errorCause and '' != logOp.errorCause">#{logOp.errorCause},</if>
            <if test="null != logOp.success">#{logOp.success},</if>
            <if test="null != logOp.responseTime">#{logOp.responseTime},</if>
            <if test="null != logOp.responseSize">#{logOp.responseSize},</if>
            <if test="null != logOp.responseCode">#{logOp.responseCode},</if>
            <if test="null != logOp.costTime">#{logOp.costTime},</if>
            <if test="null != logOp.username and '' != logOp.username">#{logOp.username},</if>
            <if test="null != logOp.userId and '' != logOp.userId">#{logOp.userId},</if>
            <if test="null != logOp.createTime">#{logOp.createTime},</if>
            <if test="null != logOp.updateTime">#{logOp.updateTime}</if>
        </trim>
        )
    </insert>

    <!-- 批量新增API操作日志 -->
    <insert id="insertBatch" parameterType="java.util.List" flushCache="true">
        INSERT INTO
        `log_op_${@com.doudoudrive.common.util.date.DateUtils@toMonth()}` (
        `business_id`, `ip`, `location`, `business_type`, `title`, `class_name`, `method_name`,
        `request_uri`, `parameter`, `method`, `request_size`, `request_time`, `content_type`,
        `referer`, `browser`, `browser_version`, `browser_engine`, `browser_engine_version`, `user_agent`, `is_mobile`,
        `os`, `platform`, `spider`,
        `error_msg`, `error_cause`, `is_success`, `response_time`, `response_size`, `response_code`, `cost_time`,
        `username`, `user_id`,
        `create_time`, `update_time`
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.businessId}, INET_ATON(#{item.ip}), #{item.location}, #{item.businessType}, #{item.title},
            #{item.className},
            #{item.methodName},
            #{item.requestUri}, #{item.parameter}, #{item.method}, #{item.requestSize}, #{item.requestTime},
            #{item.contentType},
            #{item.referer}, #{item.browser}, #{item.browserVersion}, #{item.browserEngine},
            #{item.browserEngineVersion}, #{item.userAgent}, #{item.mobile}, #{item.os}, #{item.platform},
            #{item.spider},
            #{item.errorMsg}, #{item.errorCause}, #{item.success}, #{item.responseTime}, #{item.responseSize},
            #{item.responseCode}, #{item.costTime},
            #{item.username}, #{item.userId},
            #{item.createTime}, #{item.updateTime}
            )
        </foreach>
    </insert>

    <!-- 指定条件查找API操作日志 -->
    <select id="listLogOpToKey" resultType="com.doudoudrive.common.model.pojo.LogOp" resultMap="logOpResultMap">
        SELECT
        <include refid="logOp"/>
        FROM `log_op_${@com.doudoudrive.common.util.date.DateUtils@toMonth()}`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <include refid="searchCondition"/>
        </trim>
        ${limit};
    </select>

    <!-- 返回搜索的总数 -->
    <select id="countSearch" resultType="java.lang.Long">
        SELECT COUNT(*) FROM `log_op_${@com.doudoudrive.common.util.date.DateUtils@toMonth()}`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <include refid="searchCondition"/>
        </trim>
    </select>
</mapper>
