<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.RocketmqConsumerRecordDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.RocketmqConsumerRecord" id="rocketmqConsumerRecordResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="msgId" column="msg_id"/>
        <result property="offsetMsgId" column="offset_msg_id"/>
        <result property="retryCount" column="retry_count"/>
        <result property="topic" column="topic"/>
        <result property="tag" column="tag"/>
        <result property="brokerName" column="broker_name"/>
        <result property="queueId" column="queue_id"/>
        <result property="queueOffset" column="queue_offset"/>
        <result property="sendTime" column="send_time"/>
        <result property="sendStatus" column="send_status"/>
        <result property="status" column="status"/>
        <result property="body" column="body"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- sql字段信息 -->
    <sql id="rocketmqConsumerRecord">
        `auto_id`
        , `business_id`, `msg_id`, `offset_msg_id`, `retry_count`, `topic`, `tag`,
        `broker_name`, `queue_id`, `queue_offset`, `send_time`, `send_status`, `status`,
        `body`, `create_time`, `update_time`
    </sql>

    <!-- 新增RocketMQ消费记录 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.RocketmqConsumerRecord" flushCache="true"
            useGeneratedKeys="true" keyProperty="record.autoId">
        INSERT INTO
        `rocketmq_consumer_record_${tableSuffix}` (
        <trim suffixOverrides=",">
            <if test="null != record.businessId and '' != record.businessId">
                `business_id`,
            </if>
            <if test="null != record.msgId and '' != record.msgId">
                `msg_id`,
            </if>
            <if test="null != record.offsetMsgId and '' != record.offsetMsgId">
                `offset_msg_id`,
            </if>
            <if test="null != record.retryCount">
                `retry_count`,
            </if>
            <if test="null != record.topic and '' != record.topic">
                `topic`,
            </if>
            <if test="null != record.tag and '' != record.tag">
                `tag`,
            </if>
            <if test="null != record.brokerName and '' != record.brokerName">
                `broker_name`,
            </if>
            <if test="null != record.queueId and '' != record.queueId">
                `queue_id`,
            </if>
            <if test="null != record.queueOffset and '' != record.queueOffset">
                `queue_offset`,
            </if>
            <if test="null != record.sendTime">
                `send_time`,
            </if>
            <if test="null != record.sendStatus and '' != record.sendStatus">
                `send_status`,
            </if>
            <if test="null != record.status and '' != record.status">
                `status`,
            </if>
            <if test="null != record.body and '' != record.body">
                `body`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != record.businessId and '' != record.businessId">
                #{record.businessId},
            </if>
            <if test="null != record.msgId and '' != record.msgId">
                #{record.msgId},
            </if>
            <if test="null != record.offsetMsgId and '' != record.offsetMsgId">
                #{record.offsetMsgId},
            </if>
            <if test="null != record.retryCount">
                #{record.retryCount},
            </if>
            <if test="null != record.topic and '' != record.topic">
                #{record.topic},
            </if>
            <if test="null != record.tag and '' != record.tag">
                #{record.tag},
            </if>
            <if test="null != record.brokerName and '' != record.brokerName">
                #{record.brokerName},
            </if>
            <if test="null != record.queueId and '' != record.queueId">
                #{record.queueId},
            </if>
            <if test="null != record.queueOffset and '' != record.queueOffset">
                #{record.queueOffset},
            </if>
            <if test="null != record.sendTime">
                #{record.sendTime},
            </if>
            <if test="null != record.sendStatus and '' != record.sendStatus">
                #{record.sendStatus},
            </if>
            <if test="null != record.status and '' != record.status">
                #{record.status},
            </if>
            <if test="null != record.body and '' != record.body">
                #{record.body},
            </if>
        </trim>
        )
    </insert>

    <!-- 根据MQ消息唯一标识删除RocketMQ消费记录 -->
    <delete id="delete" parameterType="java.lang.String" flushCache="true">
        DELETE FROM `rocketmq_consumer_record_${tableSuffix}`
        <where>
            `msg_id` = #{msgId}
        </where>
    </delete>

    <!-- 根据业务id(businessId)修改RocketMQ消费记录 -->
    <update id="update" parameterType="com.doudoudrive.common.model.pojo.RocketmqConsumerRecord" flushCache="true">
        UPDATE `rocketmq_consumer_record_${tableSuffix}`
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != rocketmqConsumerRecord.msgId and '' != rocketmqConsumerRecord.msgId">
                `msg_id` = #{rocketmqConsumerRecord.msgId},
            </if>
            <if test="null != rocketmqConsumerRecord.offsetMsgId and '' != rocketmqConsumerRecord.offsetMsgId">
                `offset_msg_id` = #{rocketmqConsumerRecord.offsetMsgId},
            </if>
            <if test="null != rocketmqConsumerRecord.retryCount">
                `retry_count` = #{rocketmqConsumerRecord.retryCount},
            </if>
            <if test="null != rocketmqConsumerRecord.topic and '' != rocketmqConsumerRecord.topic">
                `topic` = #{rocketmqConsumerRecord.topic},
            </if>
            <if test="null != rocketmqConsumerRecord.tag and '' != rocketmqConsumerRecord.tag">
                `tag` = #{rocketmqConsumerRecord.tag},
            </if>
            <if test="null != rocketmqConsumerRecord.brokerName and '' != rocketmqConsumerRecord.brokerName">
                `broker_name` = #{rocketmqConsumerRecord.brokerName},
            </if>
            <if test="null != rocketmqConsumerRecord.queueId and '' != rocketmqConsumerRecord.queueId">
                `queue_id` = #{rocketmqConsumerRecord.queueId},
            </if>
            <if test="null != rocketmqConsumerRecord.queueOffset and '' != rocketmqConsumerRecord.queueOffset">
                `queue_offset` = #{rocketmqConsumerRecord.queueOffset},
            </if>
            <if test="null != rocketmqConsumerRecord.sendTime">
                `send_time` = #{rocketmqConsumerRecord.sendTime},
            </if>
            <if test="null != rocketmqConsumerRecord.sendStatus and '' != rocketmqConsumerRecord.sendStatus">
                `send_status` = #{rocketmqConsumerRecord.sendStatus},
            </if>
            <if test="null != rocketmqConsumerRecord.status and '' != rocketmqConsumerRecord.status">
                `status` = #{rocketmqConsumerRecord.status},
            </if>
            <if test="null != rocketmqConsumerRecord.body and '' != rocketmqConsumerRecord.body">
                `body` = #{rocketmqConsumerRecord.body},
            </if>
        </trim>
        <where>
            `business_id` = #{rocketmqConsumerRecord.businessId}
        </where>
    </update>

    <!-- 根据msgId更改RocketMQ消费者记录状态为: 已消费 -->
    <update id="updateConsumerStatus" flushCache="true">
        UPDATE `rocketmq_consumer_record_${tableSuffix}`
        <trim prefix="SET" suffixOverrides=",">
            `status` = #{status}
        </trim>
        <where>
            `msg_id` = #{msgId}
        </where>
    </update>

    <!-- 根据业务id(businessId)查找RocketMQ消费记录 -->
    <select id="getRocketmqConsumerRecord" resultType="com.doudoudrive.common.model.pojo.RocketmqConsumerRecord"
            resultMap="rocketmqConsumerRecordResultMap">
        SELECT
        <include refid="rocketmqConsumerRecord"/>
        FROM `rocketmq_consumer_record_${tableSuffix}`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <if test="null != msgId and '' != msgId">
                `msg_id` = #{msgId} AND
            </if>
        </trim>
    </select>

</mapper>
