<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.SysRoleDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.SysRole" id="sysRoleResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="roleRemarks" column="role_remarks"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- sql字段信息 -->
    <sql id="sysRole">
        `auto_id`, `business_id`, `role_code`, `role_name`, `role_remarks`, `create_time`, `update_time`
    </sql>

    <!-- 搜索的参数块 -->
    <sql id="searchCondition">
        <if test="null != sysRole">
            <if test="null != sysRole.autoId and 0 != sysRole.autoId">
                `auto_id` = #{sysRole.autoId} AND
            </if>
            <if test="null != sysRole.businessId and '' != sysRole.businessId">
                `business_id` = #{sysRole.businessId} AND
            </if>
            <if test="null != sysRole.roleCode and '' != sysRole.roleCode">
                LOCATE(#{sysRole.roleCode}, `role_code`)>0 AND
            </if>
            <if test="null != sysRole.roleName and '' != sysRole.roleName">
                LOCATE(#{sysRole.roleName}, `role_name`)>0 AND
            </if>
            <if test="null != sysRole.roleRemarks and '' != sysRole.roleRemarks">
                LOCATE(#{sysRole.roleRemarks}, `role_remarks`)>0 AND
            </if>
        </if>
        <if test="null != startTime and null != endTime">
            `create_time` BETWEEN #{startTime} AND #{endTime} AND
        </if>
    </sql>


    <!-- 新增系统角色管理模块 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.SysRole" flushCache="true"
            useGeneratedKeys="true" keyProperty="sysRole.autoId">
        INSERT INTO
        `sys_role` (
        <trim suffixOverrides=",">
            <if test="null != sysRole.businessId and '' != sysRole.businessId">`business_id`,</if>
            <if test="null != sysRole.roleCode and '' != sysRole.roleCode">`role_code`,</if>
            <if test="null != sysRole.roleName and '' != sysRole.roleName">`role_name`,</if>
            <if test="null != sysRole.roleRemarks and '' != sysRole.roleRemarks">`role_remarks`,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != sysRole.businessId and '' != sysRole.businessId">#{sysRole.businessId},</if>
            <if test="null != sysRole.roleCode and '' != sysRole.roleCode">#{sysRole.roleCode},</if>
            <if test="null != sysRole.roleName and '' != sysRole.roleName">#{sysRole.roleName},</if>
            <if test="null != sysRole.roleRemarks and '' != sysRole.roleRemarks">#{sysRole.roleRemarks},</if>
        </trim>
        )
    </insert>

    <!-- 批量新增系统角色管理模块 -->
    <insert id="insertBatch" parameterType="java.util.List" flushCache="true">
        INSERT INTO
        `sys_role` (
        `business_id`,
        `role_code`,
        `role_name`,
        `role_remarks`
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.businessId},
            #{item.roleCode},
            #{item.roleName},
            #{item.roleRemarks}
            )
        </foreach>
    </insert>

    <!-- 根据业务id(businessId)删除系统角色管理模块 -->
    <delete id="delete" parameterType="java.lang.String" flushCache="true">
        DELETE FROM `sys_role`
        <where>
            `business_id` = #{businessId}
        </where>
    </delete>

    <!-- 根据业务id(businessId)批量删除系统角色管理模块 -->
    <delete id="deleteBatch" parameterType="java.util.List" flushCache="true">
        DELETE FROM `sys_role`
        <where>
            `business_id` IN
            <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>

    <!-- 根据业务id(businessId)修改系统角色管理模块 -->
    <update id="update" parameterType="com.doudoudrive.common.model.pojo.SysRole" flushCache="true">
        UPDATE `sys_role`
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != sysRole.roleCode and '' != sysRole.roleCode">
                `role_code` = #{sysRole.roleCode},
            </if>
            <if test="null != sysRole.roleName and '' != sysRole.roleName">
                `role_name` = #{sysRole.roleName},
            </if>
            <if test="null != sysRole.roleRemarks and '' != sysRole.roleRemarks">
                `role_remarks` = #{sysRole.roleRemarks},
            </if>
        </trim>
        <where>
            `business_id` = #{sysRole.businessId}
        </where>
    </update>

    <!-- 根据业务id(businessId)批量修改系统角色管理模块 -->
    <update id="updateBatch" parameterType="java.util.List" flushCache="true">
        UPDATE `sys_role`
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="`role_code` = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="null != item.roleCode and '' != item.roleCode">
                        WHEN `business_id` = #{item.businessId} THEN #{item.roleCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`role_name` = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="null != item.roleName and '' != item.roleName">
                        WHEN `business_id` = #{item.businessId} THEN #{item.roleName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`role_remarks` = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="null != item.roleRemarks and '' != item.roleRemarks">
                        WHEN `business_id` = #{item.businessId} THEN #{item.roleRemarks}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            `business_id` IN
            <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
                #{item.businessId}
            </foreach>
        </where>
    </update>

    <!-- 根据业务id(businessId)查找系统角色管理模块 -->
    <select id="getSysRole" resultType="com.doudoudrive.common.model.pojo.SysRole" resultMap="sysRoleResultMap">
        SELECT
        <include refid="sysRole"/>
        FROM `sys_role`
        <where>
            `business_id` = #{businessId};
        </where>
    </select>

    <!-- 根据Model中某个成员变量名称(非数据表中column的名称)查找(value需符合unique约束) -->
    <select id="getSysRoleToModel" resultType="com.doudoudrive.common.model.pojo.SysRole" resultMap="sysRoleResultMap">
        SELECT
        <include refid="sysRole"/>
        FROM `sys_role`
        <where>
            `${modelName}` = #{value};
        </where>
    </select>

    <!-- 根据业务id(businessId)批量查找系统角色管理模块 -->
    <select id="listSysRole" resultType="com.doudoudrive.common.model.pojo.SysRole" resultMap="sysRoleResultMap">
        SELECT
        <include refid="sysRole"/>
        FROM `sys_role`
        <where>
            `business_id` IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!-- 指定条件查找系统角色管理模块 -->
    <select id="listSysRoleToKey" resultType="com.doudoudrive.common.model.pojo.SysRole" resultMap="sysRoleResultMap">
        SELECT
        <include refid="sysRole"/>
        FROM `sys_role`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <include refid="searchCondition"/>
        </trim>
        ${limit};
    </select>

    <!-- 返回搜索的总数 -->
    <select id="countSearch" resultType="java.lang.Long">
        SELECT COUNT(*) FROM `sys_role`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <include refid="searchCondition"/>
        </trim>
    </select>

</mapper>