<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudoudrive.commonservice.dao.SysRoleAuthDao">

    <!-- 实体映射 -->
    <resultMap type="com.doudoudrive.common.model.pojo.SysRoleAuth" id="sysRoleAuthResultMap">
        <id property="autoId" column="auto_id"/>
        <result property="businessId" column="business_id"/>
        <result property="roleCode" column="role_code"/>
        <result property="authCode" column="auth_code"/>
        <result property="remarks" column="remarks"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- sql字段信息 -->
    <sql id="sysRoleAuth">
        `auto_id`, `business_id`, `role_code`, `auth_code`, `remarks`, `create_time`, `update_time`
    </sql>

    <!-- 搜索的参数块 -->
    <sql id="searchCondition">
        <if test="null != sysRoleAuth">
            <if test="null != sysRoleAuth.autoId and 0 != sysRoleAuth.autoId">
                `auto_id` = #{sysRoleAuth.autoId} AND
            </if>
            <if test="null != sysRoleAuth.businessId and '' != sysRoleAuth.businessId">
                `business_id` = #{sysRoleAuth.businessId} AND
            </if>
            <if test="null != sysRoleAuth.roleCode and '' != sysRoleAuth.roleCode">
                LOCATE(#{sysRoleAuth.roleCode}, `role_code`)>0 AND
            </if>
            <if test="null != sysRoleAuth.authCode and '' != sysRoleAuth.authCode">
                LOCATE(#{sysRoleAuth.authCode}, `auth_code`)>0 AND
            </if>
            <if test="null != sysRoleAuth.remarks and '' != sysRoleAuth.remarks">
                LOCATE(#{sysRoleAuth.remarks}, `remarks`)>0 AND
            </if>
        </if>
        <if test="null != startTime and null != endTime">
            `create_time` BETWEEN #{startTime} AND #{endTime}
        </if>
    </sql>


    <!-- 新增角色、权限关联模块 -->
    <insert id="insert" parameterType="com.doudoudrive.common.model.pojo.SysRoleAuth" flushCache="true"
            useGeneratedKeys="true" keyProperty="sysRoleAuth.autoId">
        INSERT INTO
        `sys_role_auth` (
        <trim suffixOverrides=",">
            <if test="null != sysRoleAuth.businessId and '' != sysRoleAuth.businessId">`business_id`,</if>
            <if test="null != sysRoleAuth.roleCode and '' != sysRoleAuth.roleCode">`role_code`,</if>
            <if test="null != sysRoleAuth.authCode and '' != sysRoleAuth.authCode">`auth_code`,</if>
            <if test="null != sysRoleAuth.remarks and '' != sysRoleAuth.remarks">`remarks`,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="null != sysRoleAuth.businessId and '' != sysRoleAuth.businessId">#{sysRoleAuth.businessId},</if>
            <if test="null != sysRoleAuth.roleCode and '' != sysRoleAuth.roleCode">#{sysRoleAuth.roleCode},</if>
            <if test="null != sysRoleAuth.authCode and '' != sysRoleAuth.authCode">#{sysRoleAuth.authCode},</if>
            <if test="null != sysRoleAuth.remarks and '' != sysRoleAuth.remarks">#{sysRoleAuth.remarks},</if>
        </trim>
        )
    </insert>

    <!-- 批量新增角色、权限关联模块 -->
    <insert id="insertBatch" parameterType="java.util.List" flushCache="true">
        INSERT INTO
        `sys_role_auth` (
        `business_id`,
        `role_code`,
        `auth_code`,
        `remarks`
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.businessId},
            #{item.roleCode},
            #{item.authCode},
            #{item.remarks}
            )
        </foreach>
    </insert>

    <!-- 根据业务id(businessId)删除角色、权限关联模块 -->
    <delete id="delete" parameterType="java.lang.String" flushCache="true">
        DELETE FROM `sys_role_auth`
        <where>
            `business_id` = #{businessId}
        </where>
    </delete>

    <!-- 根据业务id(businessId)批量删除角色、权限关联模块 -->
    <delete id="deleteBatch" parameterType="java.util.List" flushCache="true">
        DELETE FROM `sys_role_auth`
        <where>
            `business_id` IN
            <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>

    <!-- 根据业务id(businessId)修改角色、权限关联模块 -->
    <update id="update" parameterType="com.doudoudrive.common.model.pojo.SysRoleAuth" flushCache="true">
        UPDATE `sys_role_auth`
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != sysRoleAuth.roleCode and '' != sysRoleAuth.roleCode">
                `role_code` = #{sysRoleAuth.roleCode},
            </if>
            <if test="null != sysRoleAuth.authCode and '' != sysRoleAuth.authCode">
                `auth_code` = #{sysRoleAuth.authCode},
            </if>
            <if test="null != sysRoleAuth.remarks and '' != sysRoleAuth.remarks">
                `remarks` = #{sysRoleAuth.remarks},
            </if>
        </trim>
        <where>
            `business_id` = #{sysRoleAuth.businessId}
        </where>
    </update>

    <!-- 根据业务id(businessId)批量修改角色、权限关联模块 -->
    <update id="updateBatch" parameterType="java.util.List" flushCache="true">
        UPDATE `sys_role_auth`
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="`role_code` = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="null != item.roleCode and '' != item.roleCode">
                        WHEN `business_id` = #{item.businessId} THEN #{item.roleCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`auth_code` = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="null != item.authCode and '' != item.authCode">
                        WHEN `business_id` = #{item.businessId} THEN #{item.authCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`remarks` = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="null != item.remarks and '' != item.remarks">
                        WHEN `business_id` = #{item.businessId} THEN #{item.remarks}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            `business_id` IN
            <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
                #{item.businessId}
            </foreach>
        </where>
    </update>

    <!-- 根据业务id(businessId)查找角色、权限关联模块 -->
    <select id="getSysRoleAuth" resultType="com.doudoudrive.common.model.pojo.SysRoleAuth"
            resultMap="sysRoleAuthResultMap">
        SELECT
        <include refid="sysRoleAuth"/>
        FROM `sys_role_auth`
        <where>
            `business_id` = #{businessId};
        </where>
    </select>

    <!-- 根据Model中某个成员变量名称(非数据表中column的名称)查找(value需符合unique约束) -->
    <select id="getSysRoleAuthToModel" resultType="com.doudoudrive.common.model.pojo.SysRoleAuth"
            resultMap="sysRoleAuthResultMap">
        SELECT
        <include refid="sysRoleAuth"/>
        FROM `sys_role_auth`
        <where>
            `${modelName}` = #{value};
        </where>
    </select>

    <!-- 根据业务id(businessId)批量查找角色、权限关联模块 -->
    <select id="listSysRoleAuth" resultType="com.doudoudrive.common.model.pojo.SysRoleAuth"
            resultMap="sysRoleAuthResultMap">
        SELECT
        <include refid="sysRoleAuth"/>
        FROM `sys_role_auth`
        <where>
            `business_id` IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!-- 指定条件查找角色、权限关联模块 -->
    <select id="listSysRoleAuthToKey" resultType="com.doudoudrive.common.model.pojo.SysRoleAuth"
            resultMap="sysRoleAuthResultMap">
        SELECT
        <include refid="sysRoleAuth"/>
        FROM `sys_role_auth`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <include refid="searchCondition"/>
        </trim>
        ${limit};
    </select>

    <!-- 返回搜索的总数 -->
    <select id="countSearch" resultType="java.lang.Long">
        SELECT COUNT(*) FROM `sys_role_auth`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            <include refid="searchCondition"/>
        </trim>
    </select>

    <!-- 根据角色编码查询当前角色下绑定的所有权限编码 -->
    <select id="listSysRoleAuthToRoleCode" resultType="com.doudoudrive.common.model.pojo.SysRoleAuth"
            resultMap="sysRoleAuthResultMap">
        SELECT
        <include refid="sysRoleAuth"/>
        FROM `sys_role_auth`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            `role_code` IN
            <foreach collection="roleCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </trim>
    </select>

    <!-- 根据权限编码查询所有拥有此权限的角色数据 -->
    <select id="listSysRoleAuthToAuthCode" resultType="com.doudoudrive.common.model.pojo.SysRoleAuth"
            resultMap="sysRoleAuthResultMap">
        SELECT
        <include refid="sysRoleAuth"/>
        FROM `sys_role_auth`
        <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides="AND">
            `auth_code` = #{authCode}
        </trim>
    </select>

</mapper>